@model EstadioAAAWeb.Models.Event

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>Estás segur@@ que deseas eliminar el evento?</h3>
<div>
    <h4>Evento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventQuorum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventQuorum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventFee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventOrg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventOrg)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EventUUID" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
