@model IEnumerable<EstadioAAAWeb.Models.Event>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventQuorum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventFee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventOrg)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventQuorum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventFee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventOrg)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EventUUID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EventUUID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EventUUID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
