@model IEnumerable<EstadioAAAWeb.Models.Receipt>
@using Microsoft.AspNetCore.Authorization;
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Boletas</h1>

<p>
    <a class="btn-primary btn" asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TotalCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalCost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ticket.TicketUUID)
                </td>
                <td>

                    <a class="btn-primary btn" asp-action="Details" asp-route-id="@item.ReceiptUUID">Detalles</a>
                    @if ((await AuthorizationService.AuthorizeAsync(User, "RequireAdministratorRole")).Succeeded)
                    {
                        <div>
                            <a class="btn-primary btn" asp-action="Edit" asp-route-id="@item.ReceiptUUID">Editar</a>
                            <a class="btn-danger btn" asp-action="Delete" asp-route-id="@item.ReceiptUUID">Eliminar</a>
                        </div>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
