@model IEnumerable<EstadioAAAWeb.Models.Ticket>
@using Microsoft.AspNetCore.Authorization;
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "Index";
}

<h1>Lista de tickets</h1>

<p>
    <a class="btn-primary btn" asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserRUT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserRUT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Event.EventUUID)
                </td>
                <td>

                    <a class="btn-primary btn" asp-action="Details" asp-route-id="@item.TicketUUID">Detalles</a>

                    @if ((await AuthorizationService.AuthorizeAsync(User, "RequireAdministratorRole")).Succeeded)
                    {
                        <a class="btn-primary btn" asp-action="Edit" asp-route-id="@item.TicketUUID">Editar</a>
                        <a class="btn-danger btn" asp-action="Delete" asp-route-id="@item.TicketUUID">Eliminar</a>
                    }


                </td>
            </tr>
        }
    </tbody>
</table>
